form
{
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    padding-bottom: 1.5rem;
    margin: 2rem 1rem 1rem 2rem;

}

form label {
    display: flex;
    float: left;
    background-color: greenyellow;
    }

form input{
    display: flex;
    float: left;
    margin-bottom: 50px;
}

form select{
    display: flex;
    float: left;
    margin-bottom: 50px;
}

#error_msg_schedule{
    color:red;
    margin: 2rem 1rem 1rem 2rem;
}

body {
    text-align: center;
}